body {
    color: #e0e6f0;             /* light gray text */
    background-color: #0d0f14;  /* dark tech background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
    


h1, h2 {
    color: #4db7ff;
    text-align: center;
    letter-spacing: 1px;
}

h1{
    margin-top: 20px;
    font-size: 2.8rem;
}

h2{
    margin-top: 30px;
}


#navbar {
    background-color: #12151c;
    padding: 12px 0;
    text-align: center;
    margin-top: 10px;
    border-bottom: 2px solid #4db7ff;

}

#navbar nav a{
    color: #e0e6f0;
    margin: 0 15px;
    font-size: 1.1rem;
    padding: 6px 12px;
    border-radius: 5px;
    transition: 0.25s;
}

#navbar nav a:hover {
    background-color: #4db7ff;
    color: #0d0f14;
    box-shadow: 0 0 12px #4db7ff;
}

#home, main p{
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

figure{
    background-color: #151920;
    padding: 10px;
    border-radius: 10px;
}

figure img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

figcaption {
    margin-top: 8px;
    color: #9bb9d4;
    font-size: 1.1rem;
    text-align: center;
}

.left3, .right3 {
    margin-top: 20px;
}

.gap-4 {
    gap: 1.5rem;
}

@media (max-width: 768px) {
    #navbar nav a {
        display: inline-block;
        margin: 10px 8px;

    }

    .left3, .right3{
        margin-bottom: 30px;
    }

    main p {
        text-align: left;
        padding:  0 15px;
    }

}
    
.component-card img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
}  

.component-card {
    background-color: #151920;
    padding: 10px;
    border-radius: 10px;
}
    
