.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
    width: 100%;
    background: black;
    box-sizing: border-box;
}

.grid-container>div {
    background-color: rgb(0,0,0);
    padding: 20px 0;
    min-height: 100px;
    width: 100%;
}

.grid-container>div>img {
    width: 90%;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

#large {
    box-sizing: border-box;
    padding: 20px;
    background: whitesmoke;
    width: 60%;
    margin: 10px auto;
    display: block;
    border: 20px solid #1e90ff;
}

header {
    text-align: center;
    margin-top: 20px;
    background-color: #1e90ff;
    padding: 20px 0;
    border-bottom: 3px solid #333;
}

h1 {
    color: black;
    font-size: 2.5em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

body {
    background-color: #121212;
    margin: 0;

}

footer {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}