<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Template</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <h1>My Project Template</h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">1</a>
            <a href="#">2</a>
        </nav>
    </header>
    <main>
        <aside>
        <h2>Information</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, error. Tempore, provident rerum iure beatae, id veniam asperiores quam reprehenderit optio molestiae ipsam? Suscipit facere incidunt, maxime impedit dolor quibusdam!</p>
        </aside>
    <h2>Information</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non eveniet laborum eum dolores, reiciendis necessitatibus fugit itaque illo sunt aspernatur, quibusdam inventore, optio ipsum totam. Totam debitis quam accusamus tempore!</p>
        <figure>
            <img src="https://dummyimage.com/250x300/c90ac9/151517&text=dummy+image" alt="placeholder image">
            <figcaption>placeholder image</figcaption>
        </figure>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias eaque veritatis sint debitis? Fugiat, iure, facilis corporis saepe commodi numquam sed itaque repellat corrupti blanditiis voluptate reprehenderit doloribus aspernatur voluptatibus!</p>
    </main>



    <footer>
        <p>&copy; 2025 Project | Jovanne Ortiz</p>
    </footer>

</body>
</html>